<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ebf741b3-2669-4068-801c-07a726277923/resourcegroups/ProjectDoAnTotNghiep/providers/Microsoft.Web/sites/BookingTicketAPI20260409215526</ResourceId>
    <ResourceGroup>ProjectDoAnTotNghiep</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bookingticketapi20260409215526-d8fqfpd2fpe4hqdj.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a36aa0af-d1a1-4970-a3df-1b5a1c942846</ProjectGuid>
    <PublishUrl>https://bookingticketapi20260409215526-d8fqfpd2fpe4hqdj.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>