# Build
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# NuGet
packages/
*.nupkg
*.snupkg

# Logs
*.log
build_api_log.txt
build_output.txt
msbuild.log

# Cache / temp
*.cache
*.tmp
*.temp

# Debug / build artifacts
*.pdb
*.dll
*.exe

# Publish
**/publish/

# ASP.NET
App_Data/

# OS
.DS_Store
Thumbs.db